// Fonts
$primaryFont: 'Objectivity', sans-serif;
$secondaryFont: 'Objectivity', sans-serif;
$headingFont: 'Passero'; 
$baseFontSize: 16px;
$baseFontColor: #422213;

// Colours
$primary: #412315;
$primaryLight: #F6F2FD;
$secondary: #98C222;
$tertiary: #FFEFA4;
$quaternary: #CAD507;
$lightgrey: #eef0fb;
$text: $baseFontColor;
$textLight: #563425;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;