// Fonts
$primaryFont: 'Objectivity', sans-serif;
$secondaryFont: 'Objectivity', sans-serif;
$headingFont: 'Cocon Regular'; 
$baseFontSize: 16px;
$baseFontColor: #0C3647;

// Colours
$primary: #412315;
$primaryLight: #F6F2FD;
$secondary: #9AC034;
$tertiary: #55BCB5;
$quaternary: #CAD507;
$lightgrey: #eef0fb;
$text: $baseFontColor;
$textLight: #3D5964;
$border: #d6dbe1;
$white: #fff;
$borderDark: lighten($text, 35%);
$success: #64c82d;
$warning: #ffc458;
$error: tomato;