/*
 * Footer
 *
*/

.footer-logos {
	padding: var(--fl1-spacing-lg) 0;

	.carousel_image {
		display: flex !important;
		justify-content: center;
		a {
			display: flex;
			justify-content: center;
		}
		img {
			width: auto;
			max-height: 48px;
			max-width: 132px;
		}
	}
}

footer {
	position: relative;
	background: url(img/coconut-footer.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: auto;
	width: 100%;
	margin: 0 auto;

	.footer__menus {
		padding: 55px 30px; margin: 100px 150px; background: white;

		@include breakpoint(papabear) {
			padding: 0;
		}

		.max__width {
			display: flex; justify-content: space-between;
			@include breakpoint(papabear) {
				flex-direction: column;
			}
		}

		article {
			width: 22%;

			&.align-right {
				text-align: right;
			}

			@include breakpoint(papabear) {
				width: 100%;
				border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
			}

			figure {
				max-width: 200px;
				width: 100%;
				margin-bottom: 24px;
			}

			h5 {
				font-size: 20px;
				font-weight: 700;
				color: var(--fl1-primary);
				padding-bottom: 16px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include breakpoint(papabear) {
					padding: 17px 0;
					cursor: pointer;
				}

				i {
					display: none;
					font-size: 14px;
					color: var(--fl1-primary);
					@include breakpoint(papabear) {
						display: block;
					}
				}
			}

			p {
				color: var(--fl1-primary);
				font-size: 14px;
				margin-bottom: 16px;
				a {
					color: var(--fl1-primary);
					&:hover {
						color: var(--fl1-secondary);
					}
				}
			}

			ul {
				margin: 0;
				padding: 0;
				@include breakpoint(papabear) {
					font-size: 16px;
					padding-bottom: 20px;
				}

				li {
					list-style: none;
					line-height: 24px;
					font-size: 14px;
					padding-bottom: 10px;
					display: flex;
					align-items: center;
					@include breakpoint(papabear) {
						padding-bottom: 10px;
					}

					i {
						font-size: 26px;
						color: var(--fl1-primary);
						width: 28px;
						display: flex;
						justify-content: center;
						margin: 0 12px 0 0;
					}
					img {
						&.flag{
							width: 28px; height: 18px; margin-right: 10px;
						}
					}

					a {
						font-size: 14px;
						color: var(--fl1-primary);
						display: flex;
    					align-items: center;

						&:hover {
							color: var(--fl1-secondary);
							opacity: 1;
						}
					}
				}
			}

			&.newsletter {
				width: 50%;

				@include breakpoint(papabear) {
					width: 100%;
					margin-top: 40px;
					border-bottom: none;
				}
			}
		}
	}
}

.subfooter {
	.max__width {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px rgba(255, 255, 255, 0.1) solid;
		padding: var(--fl1-spacing-md) 0;
		max-width: 1140px;

		@include breakpoint(papabear) {
			flex-direction: column;
		}

		.subfooter--left {
			display: flex;
			align-items: center;
			@include breakpoint(papabear) {
				flex-direction: column;
				margin-bottom: 20px;
				text-align: center;
			}
		}

		.subfooter--right {
			display: flex;
			justify-content: flex-end;
			align-content: center;
			@include breakpoint(papabear) {
				padding-right: 0;
			}
		}

		figure {
			max-width: 260px;
			width: 100%;
			margin-right: 20px;
			@include breakpoint(papabear) {
				margin-right: 0;
			}
		}

		small {
			font-size: 12px;
			color: var(--fl1-text);
			@include breakpoint(papabear) {
				margin-right: 0;
			}
			a {
				color: var(--fl1-text);
				font-size: 12px;
			}
		}
	}
}
